{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

    <title>User Dashboard</title>
</head>

<style>

    body{
        background-color: ghostwhite;
        margin-bottom: 50px;
    }

  
     
         @media only screen and (max-width:768px) {
        .panel{
            display: none;
        }
        }  
/* 
        fieldset{
            border: 2px solid rgb(34,34,34);
            padding: 10px;
            height: 400px;
        } */

img{
    width: 150px;
    height: 150px;
}
</style>




<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse " style="position: sticky; top: 0; z-index: 1;">
            <div class="navbar-header">
                <span class="navbar-brand">Welcome to your dashboard  {{company_name}}</span>
                <button type="button"  
                class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#data"
                aria-expanded="false"
                > 
                
            </button>
            </div>
           
        </nav>


<div class="row" >

	
	<div class="panel col-lg-2 col-md-2 col-sm-2" style="background-color: rgb(34, 34, 34); margin-left: 15px; padding: 0; ">
		<div class="panel-heading" style="color: white;"><strong>DASHBOARD</strong></div>
		<div class="panel-body" style="background-color: rgb(34, 34, 34); padding: 0; height: 500px;">
			<ul class="list-group">
		<li class="list-group-item" style="background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'add_transaction' %}" >Add Transactions</a></li>
		
		<li class="list-group-item" style=" border: none; background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'all_transaction' %}">Query Transactions</a></li>

		<li class="list-group-item" style=" border: none; background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'plot' %}">Generate Report</a></li>
						
		<li class="list-group-item" style="border: none; background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'upload_logo' %}">Business Logo</a></li>

						<li class="list-group-item" style="border: none; background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'upload_signature' %}">Upload Signature</a></li>

						<li class="list-group-item" style="border: none; background-color: rgb(34, 34, 34);">
        
							<a style="color: white;" href="#" 
							class="dropdown-toggle" 
							data-toggle="dropdown" 
							aria-haspopup="true"
							aria-expanded="false"
							id="dropdown" 
							>Account Settings <span class="caret"></span> </a> 
				
							<ul class="dropdown-menu" aria-labelledby="dropdown">
								<li><a href="{% url 'change_password' %}">Change Password</a></li>                 
								<li><a href="{% url 'change_receipt' %}">Change Receipt Type</a></li>  
                                <li><a href="{% url 'update_profile' %}">Change Business Address</a></li>                        
                      
							</ul>
						</li>

						<li class="list-group-item" style="border: none; background-color: rgb(34, 34, 34);"><a style="color: white;" href="{% url 'logout' %}">Logout</a></li>
	</ul>
		</div>
	</div>



	<div class="col-lg-9 col-md-9 col-sm-9" >
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1  col-md-3 col-md-offset-1 col-xs-3  " style="text-align: center;">
                <a href="{% url 'plot' %}">

                <img style="" src="{% static 'logo/new_report.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1>Report</h1>
                </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-xs-3 col-xs-offset-1" style="text-align: center;">
                <a href="{% url 'all_transaction' %}">
                <img src="{% static 'logo/transaction.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1 class="">Transaction</h1>
                </div>
            </a>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-xs-3 col-xs-offset-1" style="text-align: center;">
                <a href="{% url 'add_transaction' %}">  

                <img src="{% static 'logo/new_receipt.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1 class="">Receipt</h1>
                </div>
                </a>
            </div>
        </div>


        
        <div class="row" style="margin-top: 40px;">
            <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-xs-3 " style="text-align: center;">
                <a href="{% url 'update_profile' %}">

                <img style="" src="{% static 'logo/profile.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1>Profile</h1>
                </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-xs-3 col-xs-offset-1" style="text-align: center;">
                <a href="{% url 'upload_signature' %}">
                <img src="{% static 'logo/signature.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1 class="">Signature</h1>
                </div>
            </a>
            </div>

            <div class="col-lg-3 col-lg-offset-1 col-md-offset-1 col-md-3 col-xs-3 col-xs-offset-1" style="text-align: center;">
                <a href="{% url 'upload_logo' %}">  

                <img src="{% static 'logo/logo2.png' %}" alt="">
                <div class="col-lg-12" style="margin-top: -50px;">
                    <h1 class="">Logo</h1>
                </div>
                </a>
            </div>
        </div>
       



    </div>












    </div>




    
</body>
<script src="{% static 'jquery-3.6.1.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'html2canvas.js' %}"></script>
</html>